$white: hsl(0, 0%, 100%);
$jet: hsl(120, 1%, 17%);
$latte: hsl(49, 60%, 93%);
$nickle: hsl(44, 7%, 41%);
$lightgrey: hsl(60, 3%, 93%);
$shadow: hsla(0, 0%, 0%, 0.13);
$peach: hsl(5, 100%, 81%);
$teal: hsl(168, 69%, 84%);
$grey: hsl(0, 0%, 89%);
$dark-grey: hsl(0, 0%, 64%);
